# local environment
.env
error.log

# Deps
/node_modules

vendor/**/*
!vendor/autoload.php
!vendor/composer
!vendor/composer/*

# caching and debuging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# OS/IDE specific files
.DS_Store
.vscode
