# built assets
/build

# local environment
.env
error.log

# caching and debuging
/node_modules
/vendor
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# OS/IDE specific files
.DS_Store
.vscode
