$border-radius--sm: 3px;

$c-blue: #0075af;
$c-light-blue: #f3f5f6;
$c-gray: #555d66;
$c-white: #ffffff;
$c-black: #000000;

$font-size-base: 13px;
$line-height: 1.4;

$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-base: 16px;
