.wp-block-ups-image {
  .lazy-img__mod {
    position: relative;
  }

  .lazy-img__placeholder {
    display: block;
    width: 100%;
  }

  .lazy-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);

    &.lazyloaded {
      opacity: 1;
    }

    .lazy-img__mod & {
      position: absolute;
      background-color: #000000;
    }
  }
}
